.produto
{
    width: 400px;
    height: 300px;
    border: solid 1px black;
    margin: 10px;
    overflow: auto;
}
.cart
{
    width: 400px;
    height: 300px;
    border: solid 1px black;
    margin: 10px;
    overflow: auto;
}

.a1
{
border-bottom: black solid 1px;
}